<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Event{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f0ec899e18.js" crossorigin="anonymous"></script>
</head>
<body class="bg-gray-900 text-white">
    <nav class="bg-gray-800 p-4">
        <ul class="flex justify-center space-x-4 md:space-x-8 lg:space-x-12 xl:space-x-16 2xl:space-x-20">
            <li class="flex items-center space-x-2">
                <i class="fas fa-home text-white"></i>
                <a href="/" class="text-white">Home</a>
            </li>
            <li class="flex items-center space-x-2">
                <i class="fas fa-calendar-alt text-white"></i>
                <a href="/schedule" class="text-white">Schedule</a>
            </li>
            <li class="flex items-center space-x-2">
                <i class="fas fa-cocktail text-white"></i>
                <a href="/drinks" class="text-white">Drinks</a>
            </li>
            <li class="flex items-center space-x-2">
                <i class="fas fa-map-marker-alt text-white"></i>
                <a href="/location" class="text-white">Location</a>
            </li>
        </ul>
    </nav>
    <main class="flex justify-center w-full">
        <div class="w-11/12 max-w-6xl p-4">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer class="bg-gray-800 p-4 text-center text-gray-400">
        © 2024 Finn Beer
    </footer>
</body>
</html>
