<!DOCTYPE html>
<html lang="en" class="dark h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Event{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f0ec899e18.js" crossorigin="anonymous"></script>
    <style>
        /* Custom Animations */
        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }

        .fade-in {
            animation: fadeIn 1s ease-in-out;
        }

        @keyframes slideIn {
            from { transform: translateX(-100%); }
            to { transform: translateX(0); }
        }

        .slide-in {
            animation: slideIn 0.5s ease-out;
        }
    </style>
</head>
<body class="bg-gray-900 text-white flex flex-col min-h-screen pb-16">
    <nav class="bg-gray-800 p-4 fade-in transition duration-500 ease-in-out transform hover:scale-105">
        <ul class="flex justify-center space-x-4 md:space-x-8 lg:space-x-12 xl:space-x-16 2xl:space-x-20">
            <li class="flex items-center space-x-2 hover:text-indigo-400">
                <i class="fas fa-home text-white"></i>
                <a href="/" class="text-white">Home</a>
            </li>
            <li class="flex items-center space-x-2 hover:text-indigo-400">
                <i class="fas fa-calendar-alt text-white"></i>
                <a href="/schedule" class="text-white">Timetable</a>
            </li>
            <li class="flex items-center space-x-2 hover:text-indigo-400">
                <i class="fas fa-cocktail text-white"></i>
                <a href="/drinks" class="text-white">Drinks</a>
            </li>
            <li class="flex items-center space-x-2 hover:text-indigo-400">
                <i class="fas fa-map-marker-alt text-white"></i>
                <a href="/location" class="text-white">Location</a>
            </li>
        </ul>
    </nav>
    <main class="flex justify-center w-full flex-grow">
        <div class="w-11/12 max-w-6xl p-4 slide-in opacity-0 transition-opacity duration-500 ease-in-out">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer class="bg-gray-800 p-4 text-center text-gray-400">
        © 2024 Finn Beer
    </footer>
    <script>
        // JavaScript to add opacity transition on page load
        document.addEventListener('DOMContentLoaded', () => {
            const mainContent = document.querySelector('main > div');
            mainContent.classList.add('opacity-100');
        });
    </script>
</body>
</html>
